body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f2f3f4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.general-div{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 30px;
    line-height: 30px;
    margin-top: 4px;
}

#movies {
    color: black;
    width: 100%;
    margin-top: 5px;
    top: 15%;
}
.sub-div {
    margin-bottom: 12px;
    width: 30%;
    float: left;
    margin-left: 12px;
    display: inline-block;

}

article {
    background-color: lightgrey;
    overflow: hidden;
    height: 50%;
    align-items: center;
    /*height:410px;*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.movie__img {
    width: 100%;
    /*border-radius: 15px;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 8px;
    padding-right: 0;
    padding-left: 0;
}

.movie__title {
    text-transform: capitalize;
    text-align: center;
}

.movie__desc {
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
    color: #2d3748;
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)* 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
    text-align:center;
 
}

    .movie__desc::before {
        content: "";
        position: absolute;
        height: calc(1em * var(line-height));
        width: 100%;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to bottom, transparent, white);
        margin-bottom: 0;
    }

article #details {
    display: inline-block;
    width: 40%;
    border: none;
    margin: 6px 15%;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid purple;
    background-color: white;
    color: purple;
    padding: 2px 5px;
    font-size: 15px;/*
    margin-top: 3px;
    margin-bottom: 2px;*/
}

article:hover #details{
    background-color: #AA81EE;
}

article #details:hover{
    background-color: purple;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}






