body {
    background-image: url("Pictures/cinema-background.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #f2ecff;
}
h2 {
    padding: 2px;
    color: #f2ecff;
}


