@page
@model RegisterModel
@{
    ViewData["Title"] = "Are you ready to watch films day and nignt?";
}
@{
    Layout = null;
}
<link href="~/css/register.css" rel="stylesheet" type="text/css">

<div class="container">
    <h1 class="form-title">@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="main-user-info">
            <div class="user-input-box">
                <label asp-for="Input.Username" class="form-label"></label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Name" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>

            <div class="user-input-box">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="user-input-box">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter Password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="user-input-box">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-submit-btn">
            <button type="submit">Become a part of Cinema World</button>
        </div>
         <div class="form-field" id="account">
                <p>Have an account? <a asp-page="Login">Click to Login</a> </p>
         </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
