@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AllFilmViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" type="text/css">

<div class="text-center">
    <h3>What's new on Cinema World</h3>
</div>

<div class="general-div">
    <section id="movies">
        @foreach (var film in Model)
        {
            <div class="sub-div">
                <article class="movie">
                    <img class="movie__img" src=@film.ImageUrl>
                    <div class="card-body">
                        <h5 class="movie__title">@film.Name</h5>
                        <p class="movie__desc">@film.Description</p>
                    </div>

                    <form class="input-group-sm" asp-controller="Home" asp-action="GetDetails" asp-route-id="@film.Id">
                        <input type="submit" value="Details" id="details" />
                    </form>

                </article>
            </div>
        }
    </section>
</div>


